@media (min-width: 992px) {
    .row.mb-3 .col-md-2 .form-group {
        display: flex;
        align-items: flex-end; 
        height: 100%; 
    }
    .row.mb-3 .col-md-2 .btn {
        width: 100%; 
    }
}
@media (max-width: 767.98px) {
    .row.mb-3 .form-group {
        margin-bottom: 10px; 
    }
    .row.mb-3 .col-xs-12 .btn {
        margin-top: 10px;
    }
}

table th{
    background-color: #adefd1ff;
    color: #00203fff;
}

.btn-primary{
    background-color: #adefd1ff;
    color: #00203fff;
}

#storyModal .modal-dialog {
    max-height: 90vh; /* không vượt quá 90% chiều cao màn hình */
    display: flex;
    flex-direction: column;
}

#storyModal .modal-content {
    overflow-y: auto; /* cho phép scroll */
}

