a {
    text-decoration: none; 
    color: inherit; 
}
/* Card truyá»‡n */
.storyBox{
  display: flex;
  justify-content: center; 
}

#storiesContainer .card {
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 10px;
  overflow: hidden;
  width: 244.67px;
}

#storiesContainer .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

#storiesContainer .card-img-top {
  height: 330px;
  width: 250px;
  object-fit: cover;
}

#storiesContainer .card-title {
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 600;
  margin-bottom: 7px;
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 1; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

#storiesContainer .card-text{
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 5px;
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 1; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.voted { background-color: #ff4d4f !important; color: white !important; }
.followed { background-color: #007bff !important; color: white !important; }

.btn{
  background-color: #adefd1ff;
  border-color: #adefd1ff;
  color: #00203fff;
  font-weight: bold;
}

.btn:hover{
  background-color: #00203fff;
  border-color: #00203fff;
  color: #adefd1ff;
  font-weight: bold;
}