.storyBox{
  display: flex;
  justify-content: center; 
}

.card {
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 10px;
  overflow: hidden;
  width: 244.67px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.card-img-top {
  height: 330px;
  width: 250px;
  object-fit: cover;
}

.card-title {
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 600;
  margin-bottom: 7px;
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 1; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.card-text{
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 5px;
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 1; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}
