body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.header {
  width: 100%;
  height: 50px;
  box-shadow: 0px 2px 2px 0px gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f8f9fa;
  z-index: 1;
}

.header a {
  text-decoration: none;
  color: gray;
  font-size: 1.75rem;
  font-weight: 900;
}

.header a:hover {
  color: #00203fff;
}

.header button {
  background-color: #adefd1ff;
  color: #00203fff;
  font-weight: bolder;
  border-radius: 10px;
  height: 32px;
  border-color: #adefd1ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header button:hover {
  background-color: #00203fff;
  color: #adefd1ff;
}

/* Body */
.body {
  display: flex;
  justify-content: center;
  background-color: ghostwhite;
}

.container {
  width: 80%;
  display: flex;
  justify-content: space-around;
  box-shadow: 2px 1px 2px 3px gray;
  margin-top: 80px;
  padding: 20px;
  flex-wrap: wrap;
  background-color: white;
  margin-bottom: 30px;
  border-radius: 10px;
}

/* Bìa truyện */
.box-avata {
  width: 30%;
  display: flex;
  justify-content: center;
}

.avata {
  width: 216px;
  height: 300px;
  margin-top: 15px;
  background-color: gainsboro;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
}

.avata img {
  width: 216px;
  height: 300px;
  object-fit: cover;
}

#preview-image {
  width: 216px;
  height: 300px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 6px;  
}

/* Box Control */
.box-box {
  width: 70%;
}

.words {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.word {
  cursor: pointer;
  margin-right: 15px;
  padding-bottom: 8px;
  font-size: larger;
  transition: border-color 0.3s;
}

.selected {
  font-weight: 900;
  border-bottom: 3px solid #adefd1ff;
}

/* Box Story */
.story {
  width: 100%;
  padding-right: 30px;
}

.story p {
  font-weight: bolder;
  font-size: large;
  margin-top: 10px;
}

.story input[type="text"],
.story textarea,
.story select {
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 8px;
}

.story textarea {
  height: 200px;
}

/* Create Chapter */
.chap {
  width: 100%;
  padding-right: 30px;
}

.button-chap {
  border-radius: 10px;
  background-color: #adefd1ff;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.button-chap a {
  text-decoration: none;
  color: #00203fff;
  font-weight: bolder;
}

.button-chap a:hover, .button-chap:hover {
  color: #adefd1ff;
  background-color: #00203fff;
}

.table thead tr {
  background-color: rgb(245, 245, 245);
}

.table thead tr th {
  padding: 10px;
  text-align: left;
}

.table tbody tr td {
  padding: 10px;
  border-bottom: 1px solid gainsboro;
}

.table tbody tr td .btn{
  margin-bottom: 5px;
}

@media screen and (max-width: 846px) {
  .box-avata,
  .box-box {
    width: 100%;
  }

  .box-avata {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .box-box {
    margin-left: 0;
  }
}
