<!DOCTYPE html>
<html>
<head>
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="../css/ĐN.css" type="text/css">
</head>
<body>
    <div class="gdđn">
        <div class="khunglon">
            <div class="dangnhap">
                <div class="dnvao">
                    <span class="chu">Đăng nhập vào tài khoản của bạn</span>
                </div>

                <form id="loginForm">
                    <div class="chon">
                        <p class="mot">Email hoặc Tên người dùng<span class="sao">*</span></p>
                        <input type="text" id="user" name="user" class="tdnemail" required="" value="">
                    </div>
                    <div class="chon">
                        <p class="mot">Mật khẩu<span class="sao">*</span></p>
                        <input type="password" id="pass" name="pass" class="pass" required="" value="">
                    </div>
                    <button type="submit" class="bt">Đăng nhập</button>
                </form>

                <div id="errorMessage" style="color: red;"></div>

                <div class="qmk">
                    <a href="#">Quên mật khẩu?</a>
                </div>
                <div class="last">
                    Chưa có tài khoản?
                    <a class="dki" href="/register">Đăng ký</a>
                </div>
            </div>
        </div>
    </div>

    <script src="../javascript/ĐN.js"></script>
        
</body>
</html>