<!DOCTYPE html>
<html>
<head>
    <title>Đặt lại mật khẩu</title>
    <link rel="stylesheet" href="/css/ĐN.css" type="text/css"> 
</head>
<body>
    <div class="gdđn">
        <div class="khunglon">
            <div class="dangnhap">
                <div class="dnvao">
                    <span class="chu">Đặt lại mật khẩu mới</span>
                </div>

                <form id="resetPasswordForm">
                    <div class="chon">
                        <p class="mot">Mật khẩu mới<span class="sao">*</span></p>
                        <input type="password" id="newPassword" name="newPassword" class="pass" required="">
                    </div>
                    <div class="chon">
                        <p class="mot">Xác nhận mật khẩu mới<span class="sao">*</span></p>
                        <input type="password" id="confirmPassword" name="confirmPassword" class="pass" required="">
                    </div>
                    <button type="submit" class="bt">Đặt lại mật khẩu</button>
                </form>

                <div id="message" style="color: green;"></div>
                <div id="errorMessage" style="color: red;"></div>

                <div class="last">
                    <a class="dki" href="/login">Quay lại Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>

    <script src="/javascript/reset_password.js"></script>
        
</body>
</html>